*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* BACKGROUND */
body{
  min-height: 100svh;
  background: url("./background4.png") no-repeat center center;
  background-size: cover;
  background-color: #c8bdc8;
}

/* desktop: να φαίνεται ολόκληρη η φωτο */
@media (min-width: 769px){
  body{ background-size: contain; }
}

/* transparent layer */
body::before{
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.10);
  z-index: 0;
}

/* keep content above overlay */
body > *{
  position: relative;
  z-index: 1;
}

/* =========================
   BOTTOM MENU (HORIZONTAL ICONS)
   ========================= */
.side-menu{
  position: fixed;
  left: 0;
  bottom: 14px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  z-index: 9998;
  padding: 10px 12px;

  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 -6px 20px rgba(0,0,0,0.2);
}

.side-menu a{
  width: 62px;
  height: 62px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  border-radius: 16px;
  overflow: hidden;
}

/* ΟΛΑ ΤΑ LOGOS / IMAGES */
.menu-icon{
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
}

/* 🔥 FONT ICONS (Instagram / Facebook FIX) */
.side-menu i.menu-icon{
  font-size: 33px;   /* 👈 μικρότερο από πριν */
  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* μικρό fix για τα image logos */
.side-menu img.menu-icon{
  width: 45px;
  height:45px;
  object-fit: contain;
}

/* hover */
.side-menu a:hover{
  transform: scale(1.08);
}
img[src*="./bolt logo/bolt-food-seeklogo.png"]{
  transform: scale(1.7) translateY(2px);
}

/* colors */
.side-menu .fa-instagram{ color: #dd1d40; }
.side-menu .fa-facebook-f{ color: #2765b6; }

.order-btn-under{
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70%;
  left: 50%;
  padding: 8px 16px;
  transform: translateX(-50%);
  border-radius: 18px;

  text-decoration: none;
  font-family: "Baloo 2", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #4b493f;

  background: linear-gradient(
    180deg,
    #c1aa7a 0%,
    #d8dda1 100%
  );

  border: 2px solid rgba(110,85,110,0.55);

  box-shadow:
    0 3px 0 rgba(110,85,110,0.55),
    0 8px 16px rgba(90,60,90,0.18),
    inset 0 2px 4px rgba(255,255,255,0.6);

  z-index: 5;
  transition: all .18s ease;
}

/* hover */
.order-btn-under:hover{
  transform: translateX(-50%) translateY(-2px);
  box-shadow:
    0 10px 18px rgba(90,60,90,0.25),
    inset 0 2px 6px rgba(255,255,255,0.7);
}

/* click */
.order-btn-under:active{
  transform: translateX(-50%) translateY(2px);
  box-shadow:
    0 4px 8px rgba(90,60,90,0.18),
    inset 0 3px 6px rgba(0,0,0,0.1);
}
